* text=auto eol=lf

*.blade.php diff=html
*.css diff=css
*.html diff=html
*.js diff=javascript
*.jsx diff=javascript
*.ts diff=typescript
*.tsx diff=typescript
*.md diff=markdown
*.php diff=php
*.json linguist-generated=false

db/*.sql linguist-generated=true
